<div class="header">

    <div class="right">
      <button class="logo-btn" [routerLink]="'/segredinho'">
        <img src="assets/logo.png" alt="Logo" class="logo" style="width: 152px; height: 69px;">
      </button>
    </div>

    <div class="center">
      <p class="slogan">{{ slogan }}</p>
    </div>

    <div class="left">
      <!-- IS NOT LOGGED IN -->
      <div *ngIf="!isLoggedIn">
        <button class="header-btn" (click)="toggleMenu()">
          <mat-icon>account_circle</mat-icon>
        </button>
        <div class="dropdown-menu" *ngIf="isMenuOpen">
          <ul>
            <li class="list-button" (click)="navigateTo('/login')">
              <a>Login</a>
            </li>
            <li class="list-button" (click)="navigateTo('/register')">
              <a>Criar conta</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- IS LOGGED IN -->
      <div *ngIf="isLoggedIn">
        <div class="logged-in-container">
          <button class="header-btn">
            <mat-icon>notifications</mat-icon>
          </button>
          <button class="header-btn" (click)="toggleMenu()">
            <mat-icon>account_circle</mat-icon>
          </button>
          <div class="dropdown-menu" *ngIf="isMenuOpen">
            <ul>
              <p class="menu-name">{{ userName }}</p>
              <p class="menu-email">{{ userEmail }}</p>
              <li class="list-button" (click)="navigateTo('/account')">
                <a>Conta</a>
              </li>
              <li class="list-button" (click)="logout()">
                <a>Sair</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
</div>
