.footer-content {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-height: 40px;
}

.divider {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
  .footer-content {
    font-size: 0.7rem;
  }
}