<div class="stepper app-card">
  <mat-horizontal-stepper [linear]=false>

    <!-- Etapa 1: Escolher usuário -->
    <mat-step>
      <form [formGroup]="userForm">
        <h2 class="register-title">Quem é você?</h2>
        <ng-template matStepLabel>Tipo de usuário</ng-template>
        <div class="custom-radio-group">
          <button mat-button matStepperNext
            class="radio-option"
            [class.selected]="selectedOption === 'donator'"
            (click)="selectedOption = 'donator'"
            data-tooltip="Quero doar sangue!"
          >
            <i class="fa-solid fa-users app-card-icon"></i>
            <span>Doador</span>
          </button>

          <button mat-button matStepperNext
            class="radio-option"
            [class.selected]="selectedOption === 'bloodbank'"
            (click)="selectedOption = 'bloodbank'"
            data-tooltip="Quero promover campanhas de doação de sangue!"
          >
            <i class="fa-solid fa-hospital app-card-icon"></i>
            <span>Banco de Sangue</span>
          </button>

          <button mat-button matStepperNext
            class="radio-option"
            [class.selected]="selectedOption === 'partner'"
            (click)="selectedOption = 'partner'"
            data-tooltip="Quero incentivar a doação de sangue!"
          >
            <i class="fa-solid fa-handshake-angle app-card-icon"></i>
            <span>Parceiro</span>
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Etapa 2: email e senha -->
    <mat-step [stepControl]="credentialsGroup">
      <form [formGroup]="credentialsGroup">
        <ng-template matStepLabel>Dados de cadastro</ng-template>
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label class="input-label">Email</mat-label>
          <input matInput formControlName="email" type="email" required/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label class="input-label">Senha</mat-label>
          <input matInput formControlName="password" type="password" required/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label class="input-label">Confirmar senha</mat-label>
          <input matInput formControlName="confirmed_password" type="password" required/>
        </mat-form-field>
        <div class="actions">
          <button mat-button matStepperPrevious class="app-button">Voltar</button>
          <button mat-button matStepperNext class="app-button">Próximo</button>
        </div>
      </form>
    </mat-step>
    
    <!-- Etapa 3: Dados pessoais: DONATOR -->
    <mat-step *ngIf="selectedOption === 'donator'"[stepControl]="personalInfoGroup">
      <form [formGroup]="personalInfoGroup">
        <ng-template matStepLabel>Dados Pessoais</ng-template>

        <div class="form-grid">
          <div class="column">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Nome</mat-label>
              <input matInput formControlName="name" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">CPF</mat-label>
              <input matInput formControlName="cpf" required />
              <mat-error *ngIf="personalInfoGroup.get('cpf')?.hasError('pattern')">
                CPF deve conter 11 dígitos
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Gênero</mat-label>
              <mat-select formControlName="gender" required>
                <mat-option value="Masculino">Masculino</mat-option>
                <mat-option value="Feminino">Feminino</mat-option>
                <mat-option value="Other">Não informar</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field select">
              <mat-label class="input-label">Tipo sanguíneo</mat-label>
              <mat-select formControlName="bloodtype" required>
                <mat-option value="A+">A+</mat-option>
                <mat-option value="A-">A-</mat-option>
                <mat-option value="B+">B+</mat-option>
                <mat-option value="B-">B-</mat-option>
                <mat-option value="AB+">AB+</mat-option>
                <mat-option value="AB-">AB-</mat-option>
                <mat-option value="O+">O+</mat-option>
                <mat-option value="O-">O-</mat-option>
                <mat-option value="unknown">Não sei informar</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Telefone</mat-label>
              <input matInput formControlName="telephone" required />
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Cidade</mat-label>
              <input matInput formControlName="city" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Estado</mat-label>
              <input matInput formControlName="state" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Rua</mat-label>
              <input matInput formControlName="street" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">CEP</mat-label>
              <input matInput formControlName="zipcode" required />
            </mat-form-field>
          </div>
        </div>

        <div class="actions">
          <button mat-button matStepperPrevious class="app-button">Voltar</button>
          <button mat-button matStepperNext class="app-button">Próximo</button>
        </div>
      </form>
    </mat-step>

    <!-- Etapa 3: Dados pessoais: BLOOD BANK -->
    <mat-step *ngIf="selectedOption === 'bloodbank'" [stepControl]="bloodbankInfoFormGroup">
      <form [formGroup]="bloodbankInfoFormGroup">
        <ng-template matStepLabel>Dados Pessoais</ng-template>

        <div class="form-grid">
          <!-- Coluna 1 -->
          <div class="column">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Nome da instituição</mat-label>
              <input matInput formControlName="instituitonName" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Cidade</mat-label>
              <input matInput formControlName="city" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Rua</mat-label>
              <input matInput formControlName="street" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">CEP</mat-label>
              <input matInput formControlName="zipcode" required />
            </mat-form-field>
          </div>

          <!-- Coluna 2 -->
          <div class="column">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">CNPJ</mat-label>
              <input matInput formControlName="cnpj" required />
              <mat-error *ngIf="bloodbankInfoFormGroup.get('cnpj')?.hasError('pattern')">
                CNPJ deve conter 11 dígitos
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Estado</mat-label>
              <input matInput formControlName="state" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Bairro</mat-label>
              <input matInput formControlName="neighborhood" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Telefone</mat-label>
              <input matInput formControlName="telephone" required />
            </mat-form-field>
          </div>
        </div>

        <div class="actions">
          <button mat-button matStepperPrevious class="app-button">Voltar</button>
          <button mat-button matStepperNext class="app-button">Próximo</button>
        </div>
      </form>
    </mat-step>


    <!-- Etapa 3: Dados pessoais: PARTNER -->
    <mat-step *ngIf="selectedOption === 'partner'" [stepControl]="partnerInfoFormGroup">
      <form [formGroup]="partnerInfoFormGroup">
        <ng-template matStepLabel>Dados Pessoais</ng-template>

        <div class="form-grid">
          <!-- Coluna 1 -->
          <div class="column">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Nome do Parceiro</mat-label>
              <input matInput formControlName="partnerName" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Cidade</mat-label>
              <input matInput formControlName="city" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Rua</mat-label>
              <input matInput formControlName="street" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">CEP</mat-label>
              <input matInput formControlName="zipcode" required />
            </mat-form-field>
          </div>

          <!-- Coluna 2 -->
          <div class="column">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">CNPJ</mat-label>
              <input matInput formControlName="cnpj" required />
              <mat-error *ngIf="partnerInfoFormGroup.get('cnpj')?.hasError('pattern')">
                CNPJ deve conter 11 dígitos
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Estado</mat-label>
              <input matInput formControlName="state" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Bairro</mat-label>
              <input matInput formControlName="neighborhood" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label class="input-label">Telefone</mat-label>
              <input matInput formControlName="telephone" required />
            </mat-form-field>
          </div>
        </div>

        <div class="actions">
          <button mat-button matStepperPrevious class="app-button">Voltar</button>
          <button mat-button matStepperNext class="app-button">Próximo</button>
        </div>
      </form>
    </mat-step>


    <!-- Etapa 4: Bem-vindo -->
    <mat-step>
      <ng-template matStepLabel>Concluído</ng-template>
      <h2 class="register-title">Bem-vindo,!</h2>
      <p class="register-msg">Seu cadastro foi realizado com sucesso.</p>
      <div class="actions-register">
        <button mat-button routerLink="/login" (click)="submit()" class="app-button">Acessar o site</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

  <a routerLink="/login">Já possuo uma conta</a>
</div>
