<div class="subheader" [ngClass]="userRole">
    <ul class="links">

        <!----------------- DONOR SUBHEADER------------>
        <ng-container *ngIf="userRole === roles.User">
            <li routerLinkActive="active" (click)="changeSlogan()">
                <a [routerLink]="'/' + appRoutesPaths.DASHBOARD">
                    <i class="fas fa-home subheader-icon"></i>
                    <span class="subheader-text">Dashboard</span>
                </a>
            </li>
            <li routerLinkActive="active" (click)="changeSlogan()" *ngIf="showScheduling">
                <a [routerLink]="'/' + appRoutesPaths.CALENDAR">
                    <i class="fas fa-calendar-days subheader-icon"></i>
                    <span class="subheader-text">Pré Agendamento</span>
                </a>
            </li>
            <li routerLinkActive="active" (click)="changeSlogan()">
                <a [routerLink]="'/' + appRoutesPaths.MAP">
                    <i class="fas fa-map-location-dot subheader-icon"></i>
                    <span class="subheader-text">Mapa</span>
                </a>
            </li>
            <li routerLinkActive="active" (click)="changeSlogan()">
                <a [routerLink]="'/' + appRoutesPaths.QUESTIONNAIRE">
                    <i class="fas fa-clipboard-list subheader-icon"></i>
                    <span class="subheader-text">Questionário</span>
                </a>
            </li>
            <li routerLinkActive="active" (click)="changeSlogan()">
                <a [routerLink]="'/' + appRoutesPaths.REWARDS">
                    <!-- <i class="fa-solid fa-gifts subheader-icon"></i> -->
                    <i class="fa-solid fa-gift subheader-icon"></i>
                    <span class="subheader-text">Recompensas</span>
                </a>
            </li>
        </ng-container>

        <!-------------- BLOODBANK SUBHEADER ---------------------->
        <ng-container *ngIf="userRole === roles.Bloodbank">
            <li routerLinkActive="active" (click)="changeSlogan()">
                <a [routerLink]="'/' + appRoutesPaths.DASHBOARD">
                    <i class="fas fa-home subheader-icon"></i>
                    <span class="subheader-text">Home</span>
                </a>
            </li>
            <li routerLinkActive="active" (click)="changeSlogan()">
                <a [routerLink]="'/' + appRoutesPaths.CALENDAR">
                    <i class="fas fa-calendar-days subheader-icon"></i>
                    <span class="subheader-text">Disponibilizar Datas</span>
                </a>
            </li>
            <li routerLinkActive="active" (click)="changeSlogan()">
                <a [routerLink]="'/' + appRoutesPaths.MAP">
                    <i class="fas fa-map-location-dot subheader-icon"></i>
                    <span class="subheader-text">Mapa</span>
                </a>
            </li>
            <li routerLinkActive="active" (click)="changeSlogan()">
                <a [routerLink]="'/' + appRoutesPaths.DONATION_INFO">
                    <i class="fas fa-info-circle subheader-icon"></i>
                    <span class="subheader-text">Informações de Doações</span>
                </a>
            </li>
        </ng-container>

        <!-------------- PARTNER SUBHEADER ---------------------->
        <ng-container *ngIf="userRole === roles.Partner">
            <li routerLinkActive="active" (click)="changeSlogan()">
                <a [routerLink]="'/' + appRoutesPaths.DASHBOARD">
                    <i class="fas fa-home subheader-icon"></i>
                    <span class="subheader-text">Home</span>
                </a>
            </li>
            <li routerLinkActive="active" (click)="changeSlogan()">
                <a [routerLink]="'/' + appRoutesPaths.MAP">
                    <i class="fas fa-map-location-dot subheader-icon"></i>
                    <span class="subheader-text">Mapa</span>
                </a>
            </li>
        </ng-container>
        
    </ul>
</div>
