<div class="login-container">
  <form class="login-box" [formGroup]="loginForm" (ngSubmit)="login()">
    <h2>
      <img src="assets/icon-with-name.png" width="40" height="40" style="vertical-align: middle; margin-right: 8px;">
      Bem-vindo
    </h2>

    <div class="input-group">
      <label for="login">Login (email)</label>
      <input type="text" id="login" formControlName="email" required />
    </div>

    <div class="input-group">
      <label for="password">Senha</label>
      <input type="password" id="password" formControlName="password" required />
    </div>

    <div class="actions">
      <button type="submit" class="app-button">Entrar</button>
      <a routerLink="/forgotPassword" class="forgot">Esqueci minha senha</a>
    </div>

    <div class="divider"></div>

    <button type="button" class="register" routerLink="/register">Criar Conta</button>
    
    <div class="error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </form>
</div>
