<div class="scrt-container" style="margin: 1.5rem;">
    <div class="app-card">
        <div class="app-card-header">
            <i class="fas fa-shield-heart app-card-icon"></i>
            <h2 class="app-card-header">Projeto dedicado para:</h2>
        </div>
        <ul>
            <li>fernanda de lima</li>
            <li>monize balansin</li>
            <li>julia bueno</li>
            <li>margarete barboza</li>
            <li>jose paiola</li>
            <li>digão & dt</li>
        </ul>
    </div>
</div>